<!-- HEADER -->
<header>
  <div class="jumbotron jumbotron-fluid text-center">
    <p class="logo h1">pecora eletrica</p>
    <div>
      <img class="mx-auto" src="../assets/logo.png" />
    </div>
  </div>
</header>

<!-- CONTENT -->
<main class="container-fluid mx-0">
  <div id="content-wrapper" class="main-colors rounded-lg">
    <app-main-header></app-main-header>
    <router-outlet></router-outlet>
  </div>
</main>

<!-- FOOTER -->
<footer>
  <p class="text-center">
    Made with
    <i class="fa fa-heart" style="color: crimson;"></i>
    by <a target="_blank" href="https://github.com/rrredbeard">
      <i class="fa fa-github fa-lg"></i>
      Alessandro Venditti
    </a>
    during many rainy days.
  </p>
</footer>
