<article class="container">
  <p class="h2 text-heading text-center">
    <sup>
      <i class="fa fa-quote-left 		text-primary"></i>
    </sup>
    <span class="display-4">La Libreria</span>
    <sub>
      <i class="fa fa-quote-right 		text-primary"></i>
    </sub>
  </p>
  <p class="lead">
    Una libreria è uno scrigno che racchiude tutti questi tesori, sentimenti impregnati nelle
    pagine. Una libreria bella è quel luogo dove le infinite ricchezze nascoste nei libri si possono
    intravedere e i sentimenti nascosti nelle pagine si possono respirare.
    È quel luogo, seppur radicato nel contesto sociale, sappia offrire esplicitamente la possibilità
    di sognare.<br /><br />
    Il nostro catalogo è composto per la maggior parte dalla narrativa contemporanea e dai libri per
    bambini. Trovate proposte interessanti per quanto riguarda la saggistica e i fumetti. I libri,
    per i grandi e per i bambini, sono selezionati con particolare attenzione ai cataloghi delle
    case editrici medio-piccole e indipendenti.
  </p>
</article>
