<div class="main-header">
  <div class="main-header-wrapper">

    <nav class="rounded-lg">

      <a class="nav-item" routerLink="/home" routerLinkActive="active">
        <i class="fa fa-home"></i>
        <p>home</p>
      </a>

      <a class="nav-item" routerLink="/search" routerLinkActive="active">
        <i class="fa fa-search"></i>
        <p>search</p>
      </a>

      <a class="nav-item" routerLink="/profile" routerLinkActive="active">
        <i class="fa fa-user"></i>
        <p>profile</p>
      </a>
    </nav>

  </div>
</div>
