<div class="container">
  <form class="form mb-4" (submit)='submitSearch(InputText.value); InputText.value =""; false'>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control rounded  shadow-sm"
        placeholder="Book title to search..." #InputText>
      <div class="input-group-append">

        <button class="btn btn-primary rounded shadow-sm ml-3" type="submit">
          <i class="fa fa-search"></i>
        </button>

      </div>
    </div>
  </form>

  <hr class="mb-3" />
  <ng-container *ngIf="!!searchResult; else ResultError">
    <div app-books-list class="card-columns" [books]='searchResult'></div>
  </ng-container>


  <ng-template #ResultError>
    <!----
    <ng-container *ngIf="!!queryString && queryString.trim().length !== 0">
      <p class="text-muted text-center">
        We have nothing to view for
        <span class="badge badge-light">{{ queryString }}</span>
      </p>
    </ng-container>
    <!---->
  </ng-template>
  <!---->

</div>
